/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: left;
    font-weight: bold;
}

nav {
    display: flex; /* Make nav a flex container */
    align-items: center; /* Align items vertically */
}
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  nav a:hover {
    text-decoration: underline;
  }

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
}

/* Main content styles */


.welcome-image img {
    width: 100%; /* Make the image take up 100% of its container's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fills the container without distortion */
    
}


h2 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

.newsletter-signup {
    background-color: #000000;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], select {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* Footer Section */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}
  
footer a {
    color: #ff70a6;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}
